@import "partials/functions";
@import "partials/variables";
@import "partials/breakpoints";
@import "partials/colors";
@import "partials/utilities";
@import "partials/customClasses";
@import "partials/positions";
@import "partials/fade";

// COMPONENTS
@import "partials/components/buttons";
@import "partials/components/cards";
@import "partials/components/notifications";
@import "partials/components/navs";
@import "partials/components/spinners";
@import "partials/components/shapes";
@import "partials/components/carousals";
@import "partials/components/forms";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

svg {
  width: 18px;
  fill: currentColor;
}

.color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
}
