$shadow-color: $dark;
$focus-shadow-color: $primary;
.form {
  padding: 10px;
  border-radius: 10px;

  .field {
    // width: clamp(345px, 50%, 500px);
    margin: 15px 0px;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
      padding: 10px;
      border: 0;
      border-radius: 5px;
      width: 100%;

      &:hover {
        box-shadow: 0 0 5px -4px black;
      }

      &:focus {
        box-shadow: 0 0 5px -2px black;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      /* Create a solid color "line" with a gradient */
      background-image: linear-gradient(#007bff, #007bff);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 0% 3px; /* Hidden initially */
      transition: background-size 0.3s ease;

      &:focus {
        background-position: bottom left;
        background-size: 100% 3px; /* Grows from left to right */
        box-shadow: 0 0 5px -3px black;
      }
    }
    textarea {
      min-height: 120px;
      resize: vertical;
    }

    input[type="file"] {
      display: none;

      & + label {
        background: $light;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        width: clamp(340px, 50%, 500px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        box-shadow: 0 0 10px -6px black;
        transition: all 0.3s ease;

        p {
          font-size: 12px;
        }

        &:hover {
          box-shadow: 0 0 10px -2px black;
          background-color: darken($light, 5);
        }
      }
    }

    .form-error {
      font-size: 11px;
      color: $danger;
    }
  }
}
